# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
# DB migration and sensitive data
Base de datos Lyon.xlsx
*.sqlite
*.db
*.sql
*.xlsx
*.xlsx

# DB migration and sensitive data
Base de datos Lyon.xlsx
*.sqlite
*.db
*.sql
*.xlsx

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts